{
  "variables": {
    "checksum": "659691c28a0e672558b003d223f83938f254b39875ee7559d1a4a14c79173193",
    "checksum_type": "SHA256",
    "ks_path": "7/ks.cfg"
  },
  "provisioners": [
    {
      "type":  "shell",
      "inline": ["yum install -y epel-release",
        "yum install -y ansible"]
    }
  ],
  "builders": [{% for name in vm_name %}{% include 'builder/builders_' + name + '.j2' %}{% if vm_name|length > 1 and loop.index < vm_name|length %},{% endif %} 
  {% endfor %}
  ]
}